*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: purple;
}

.container{
    max-width: 640px;
    margin: 200px auto;
    border-radius: 64px;
    background: #47226d;
    box-shadow:  -35px -35px 50px #32184c,
    35px 35px 50px #5c2c8e;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.relogio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px auto;
    text-align: center;
    color: white;
    font-size: 2em;
}

.botoes{
    text-align: center;
}